---
title: Crest
icon: 
order: 6
---

<p>{% include ship.html name="Centaur" %}'s crest pays homage to two real life carriers, {% include hms.html name="Centaur" registry="R06" %} of the Royal Navy and {% include ship.html prefix="HMCS" name="Bonaventure" registry="CVL&nbsp;22" %} of the Royal Canadian Navy.  From the orginal {% include ship.html name="Centaur" %}'s crest we take the colours green and white and the bow, along with the motto <q>Quickly Fierce</q>.  From Bonaventure's crest we take the gold horseshoe.</p>
