---
title: History
icon: fa-archway
order: 4
---
<header>
  <h3>{% include hms.html name="Hellhound" registry="DD-446" %}</h3>
  <p>Unleash the Hound!</p>
</header>
<figure style="float:left;margin-top:-2em"><img style="display:block;" src="assets/images/HMS-Hellhound-Ship-Crest-01.png" width="150px"/></figure>

<p>Our chapter of The Royal Manticoran Navy <a href="/orders/buships/2016/05/04/BuShips_Directive_1605-01.html">launched</a> in May 2016 as {% include hms.html name="Hellhound" %}, a {% include ship.html name="Wolfhound" %}-class destroyer.  The initial crew were Vancouver Island residents from {% include hms.html name="Callisto" %}, {% include ship.html prefix="GNS" name="Madrigal" %}, and {% include ship.html prefix="HMSS" name="Greenwich" %}.</p>

<header>
<h3>{% include hms.html name="Avalon" registry="CL-395" %}</h3>
  <p>Honour is forever</p>
</header>
<figure style="float:right;margin-top:-2em"><img style="display:block;" src="assets/images/HMS-Avalon-Ship-Crest-01.png" width="150px"/></figure>
<p>After several months of rapid growth, the chapter upgraded to a light cruiser, the <a href="/orders/buships/2016/09/30/BuShips_Directive_1609-14.html">recomissioned</a> {% include hms.html name="Avalon" %} in September.  In November 2016, {% include ship.html name="Avalon" %}, {% include ship.html name="Callisto" %}, and {% include ship.html prefix="GNS" name="Jason Mueller" %} (formerly {% include ship.html name="Madrigal" %}) were <a href="orders/navy/2016/11/11/Naval_Directive_16NO-02.html">transfered</a> to the newly formed Task Group 94.1 to patrol Victoria Station.

<header>
<h3>{% include hms.html name="Justicar" registry="CA-404" %}</h3>
  <p>Grievous woe shall be laid upon them</p>
</header>
<figure style="float:left;margin-top:-2em"><img style="display:block;" src="assets/images/HMS-Justicar-Ship-Crest-01.png" width="150px"/><img width="50px" src="assets/images/RMU-1.svg" alt="Royal Meritorious Unit Citation" /></figure>
<p>One year after {% include ship.html name="Hellhound" %} launched, we were ready for a heavy cruiser and received the <a href="/orders/buships/2017/05/07/BuShips_Directive_1705-03.html">newly commissioned</a> {% include ship.html name="Edward Saganami" %}-B-class {% include hms.html name="Justicar" %} in May 2017.  Our rapid growth continued and in July we were <a href="/orders/tenthfleet/2017/07/03/Tenth_Fleet_Order_1707-03.html">recognized</a> with the Royal Meritorious Unit Citation.</p>

<header>
<h3>{% include hms.html name="Centaur" registry="CLAC-02" %}</h3>
  <p>Quickly Fierce</p>
</header>
<figure style="float:right;margin-top:-2em"><img style="display:block;" src="assets/images/crest.png" width="150px"/></figure>
After a year with the {% include ship.html name="Justicar" %} in May 2018 we <a href="/orders/buships/2018/05/08/BuShips_Directive_1805-01.html">transfered</a> to our present {% include ship.html name="Minotaur" %}-class light attack craft carrier, {% include hms.html name="Centaur" %}.  We are currently awaiting delivery of our <abbr>LAC</abbr>s.
