---
title: Victoria Station
icon: fa-globe
order: 5
---
<p>{% include ship.html name="Centaur" %} is the flag ship of Victoria Station, a detechment of Tenth Fleet assigned to patrol Victoria Station.  The station represents Western and Northern Canada (British Columbia, Alberta, Saskatchewan, Yukon, The Northwest Territories, and Nunavut) and Alaska.</p>
<figure><img src="assets/images/vs-map.png" style="width:30em; max-width: 100%;" /></figure>

<p>The other ship assigned to Victoria Station is <a href="http://hmscallisto.org">{% include hms.html name="Callisto" %}</a> which is based primarily in the lower mainland although both ships accept members from across the station.</p>
