---
title: Victoria Station
icon: 
order: 5
---
<p>{% include ship.html name="Centaur" %} is part of Task Group 94.1, a detechment of Tenth Fleet assigned to patrol Victoria Station.  Victoria Station represents Western and Northern Canada (British Columbia, Alberta, Saskatchewan, Yukon, The Northwest Territories, and Nunavut) and Alaska.</p>
<figure><img src="assets/images/vs-map.png" style="width:30em; max-width: 100%;" /></figure>

<p>Along with {% include ship.html name="Centaur" %}, TG 94.1 consists of <a href="http://hmscallisto.org">{% include hms.html name="Callisto" %}</a> which is based primarily in the lower mainland although both accept members from across Victoria Station.</p>
