@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Teko:300,400,500,600,700&subset=latin-ext');

@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Archivo+Narrow:400,400i,500,500i,600,600i,700,700i|Archivo:400,400i,500,500i,600,600i,700,700i&subset=latin-ext');

#logo {text-align: center; margin-left: 0.5em; margin-right: 0.5em; margin-top: 1em;}
#logo p {font-family: 'Archivo Narrow'; font-weight: 700; font-size: 0.8em;}
#logo img {width: 100%;}

#header {background: #121110 url("images/overlay.png");}

#main > section.shade-two {background-color: #fefdf8;}

body {font-family: 'Archivo';}


#main > section.cover#cover {padding: 2.5% 0;}

div.order-subtitle {margin-top: -1em; margin-bottom: 1em; color: rgb(102, 102, 102); font-size: 1.25em;}

dl.order-headers {margin-top:2em;}
dl.order-headers > dt:after {content: ": "}
dl.order-headers > dt {float:left; text-align: right; margin-right:1ex;}


#crew .member {display: inline-block; width: 12em; border: 1px black; vertical-align: top;}
.headshot {width: 150px; height: 200px; object-fit: cover;}
#crew .billet, #crew .service {font-size: 0.75em;  color: rgb(102, 102, 102);}

.comm-links {display: block;}
.comm-links > li {display:inline-block; text-align: center; width: 6em;}

.comm-links > li > a {display: block;}
.comm-links > li > a:before {display: block; margin-left: auto; margin-right: auto; font-size: 300%;}

header > h3+p {margin-top:-0.5em; margin-bottom: 0; font-style: italic;}
header {clear: both;}
